.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #762212;
    color: white;
    align-items: center;
    padding: 10px;
}

.counter{
    padding: 5px 10px;
    background-color: #a53120;
    border-radius: 10px;
}

.cart-btn{
    background-color: #3f1404;
    color: white;
    padding: 20px 40px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.heading{
    font-size: 30px;
}

.cart{
    height: 15px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(125deg) brightness(114%) contrast(101%);
}