.card{
    color: white;
    background-color: #313131;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 764.8px;
    box-shadow: 5px 1px 20px  rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    max-width: 764.8px;
}